.media {
    background-color: white;
    filter: drop-shadow(-3px 4px 8.5px rgb(224, 224, 224));
}
#clients .media {
    padding: 2em;
}
#clients img {
    border-radius: 50%;
}
#clients {
margin-top: 8em;
}