
// Theme colors
$bg-color: rgb(236, 236, 236);
$primary: #01a9ee;
$secondary: #1fbf41;
$font-bg-dark: #ffffff;
$font-bg-light: #575574;
$white: rgb(247, 245, 245);
$font-small: 12px;

// link colors
$link-hover-color:                        darken($cta, 15%) !default;







